.nav {
    font-family: 'Montserrat', sans-serif;
}
.nav-items {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    // border: 2px solid black; 
    justify-content: space-evenly;
    li{
        display: flex;
        // border: 2px solid red;
        a{
            // display: flex;
            // border: 2px solid green;
            font-size: 18px;
            text-decoration: none;
            color: rgb(46, 45, 45);
            
            &:hover {
                color: rgb(41, 131, 172);
            }
            
        }
    }  
}

.logo {
    text-align: center;
}

.hov:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(41, 131, 172);
    transition: width .5s
}

.hov:hover::after {
    width: 100%;
    transition: width .3s
}


  
  