$off-white: #fcf7f8;
$dark-blue: #211c4f;
$material-grey: #bab0ba;
$material-pink: #d98d91;
$material-purple: #7d7ebe;
$material-red: #eb561a;
$material-yellow: #f0ac39;
$off-black: #322645;

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;

    // background: #001D4A;
}

@mixin form-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: $material-purple;
}

@mixin input-form {
    padding: 10px;
    width: 100%;
}

@mixin input-box-size {
    border-radius: 5px;
    height: 35px;
    border: 1px solid rgb(153, 153, 153);
    width: 80vw;
}

@mixin btn-container {
        display: flex;
        justify-content: center;
        padding-top: 20px;
}

@mixin inner-btn {
    border-radius: 5px;
    border: none;
    height: 2.5em;
    font-weight: bold;
    width: 80vw;
    text-align: center;
    background-color: $material-yellow;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.book-cont {
    padding: 60px; 

.book-title {
    @include form-title;
}

.book-form {
    display: flex;
    justify-content: center;

.book-input {
    @include input-form;
}

.book-control {
    @include input-box-size;

    &::placeholder {
        color: rgb(82, 82, 83);
        font-size: 1.0em;
        line-height: 1em;
        padding: 10px;
      }
}

.book-text {
    padding-left: 10px;
}

.book-select {
    width: 80vw;
    padding: 10px;
    width: 100%;
    
    select {
        padding: 10px;
        @include input-box-size;
    }
}


.book-btn {
    @include btn-container;

    .book-sub {
        @include inner-btn;
    }

}
}
}