$off-white: #fcf7f8;
$dark-blue: #211c4f;
$material-grey: #bab0ba;
$material-pink: #d98d91;
$material-purple: #7d7ebe;
$material-red: #eb561a;
$material-yellow: #f0ac39;
$off-black: #322645;

.contact-cont {
    border: 2px solid red;

    .contact-header {
        border: 2px solid green;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        

        h1 {
            padding: 10px;
            color: $material-purple;
        }

        h2 {
            padding: 10px;
            color: $material-yellow;
        }
    }
}