$off-white: #fcf7f8;
$dark-blue: #211c4f;
$material-grey: #bab0ba;
$material-pink: #d98d91;
$material-purple: #7d7ebe;
$material-red: #eb561a;
$material-yellow: #f0ac39;
$off-black: #322645;


.question-cont {
    border: 2px solid red;

    .accordion__button {
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #333333;
        color: #fff;
        text-align: left;
        transition: background 0.2s;
    }

    .accordion__button::after {
        content: '\25be';
        float: right;
        transform: scale(1.5);
    }

    .accordion__button + .accordion__content { display: block }

    .accordion__button--active {
        background: #555555;
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #333333;
        color: #fff;
        text-align: left;
        transition: background 0.2s;
    }

    .accordion__button--active::after {
        content: '\25b4';
        float: right;
        transform: scale(1.5);
    }

    .accordion__content {
        // overflow: hidden;
        // max-height: 0;
        // transition: max-height 0.2s;

        padding: 0 15px;
        background: #eee;  
        
        display: none;
        overflow: auto;
    }
}