.hero-banner {
    background-color: $off-white;
    display: flex;
    height: 83vh;

    .heroimg {
        height: 75vh;
        width: 60vw;
        background-color: transparent;
        object-fit: cover;
        z-index: 3;
        background-clip: padding-box;
        // background-size: cover;
    }

    .text {
        z-index: 1;
        padding-top: 40px;
        // border: 2px solid red;

        .catch-phrase {
            color: white;
            text-align: center;
            padding-left: 8%;
            padding-top: 10%;
            width: 85%;

        }

        .catch-para {
            color: #ffffff;
            text-align: center;
            padding-left: 8%;
            width: 85%;
            padding-top: 20px;
        }
    }

}