$off-white: #fcf7f8;
$dark-blue: #211c4f;
$material-grey: #bab0ba;
$material-pink: #d98d91;
$material-purple: #7d7ebe;
$material-red: #eb561a;
$material-yellow: #f0ac39;
$off-black: #322645;


.servp-title {
    display: flex;
    justify-content: center;
    color: $material-purple;
    padding: 20px;
}

.serv-offered {
    border: 2px solid red;
    display: flex;
    justify-content: space-around;

    .serv-1 {
        width: 20%;
        flex-direction: column;
        display: flex;

        &:hover {
            transform: scale(1.05);
        }


        .serv1-img {
            border: 1px solid grey;
            border-radius: 5px 5px 0 0;


            img {
                display: flex;
                width: 100%;
            }
        }

        .serv1-text {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 1px solid grey;
            border-radius: 0 0 5px 5px;


            h4 {
                text-align: center;
                padding: 5px;
                color: $material-pink;
            }

            p {
                text-align: center; 
                line-height: 1.5em;
            }
        }
    }

    .serv-2 {
        width: 20%;
        flex-direction: column;
        display: flex;

        .serv2-img {
            border: 2px solid green;

            img {
                display: flex;
                width: 100%;

            }
        }
    }

    .serv-3 {
        width: 20%;
        border: 2px solid red;
        flex-direction: column;
        display: flex;

        .serv3-img {
            border: 2px solid green;

            img {
                display: flex;
                width: 100%;

            }
        }
    }
}